[project]
name = "open-gangster"
version = "0.0.1"
description = ""
license = "GPLv3"
authors = [
    {name = "Raziel Kretschmer",email = "s4005251@ba-sachsen.de"},
    {name = "Alexander Jahn",email = "s4005236@ba-sachsen.de"},
    {name = "Maximilian Unger",email = "s4005395@ba-sachsen.de"},
    {name = "Dustin Kowarsch",email = "s4005362@ba-sachsen.de"}
]

packages = [
    { path = "core"},
    { path = "device"},
    { path = "image"},
    { path = "ui"}
]

readme = "README.md"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.dev.dependencies]
pre-commit = "4.1.0"
pylint = "3.3.4"
black = "25.1.0"
flake8 = "7.1.2"

[tool.poetry.dependencies]
python = ">=3.12,<3.13"

core = { path = "./src/core" }
device = { path = "./src/device" }
image = { path = "./src/image" }
ui = { path = "./src/ui" }

[tool.black]
line-length = 79
target-version = ['py312']          # targets Python Version 3.12
include = '\.pyi?$'                 #includes .py- and .pyi- files
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''                                 # standard excludes

[tool.flake8]
ignore = ["E203", "E266", "E501", "W503", "F403", "F401"]
max-line-length = 79
max-complexity = 18
select = ["B","C","E","F","W","T4","B9"]
