# This is an example of a config for the core. Copy and rename it to "config.yml" and customize it to your liking.

##########################
# Gestures               #
##########################
gestures:
  - id: "wave:lpeace"
    name: "Left Peace"
    type: "STILL"
    power: 0
    events:
      - light_on
      - door_open
    components:
      - LMIDDLE
      - LINDEX
  - id: "wave:rthumb_up"
    name: "Right thumb up"
    type: "STILL"
    power: 10
    events:
      - music_off
      - close_windows
    components:
      - RTHUMB

##########################
# Components             #
##########################
image_processors:
  - name: "Bathroom"
    hostname: "localhost"
    port: 3000
  - name: "Bedroom"
    hostname: "192.168.2.26"
    port: 25874

device_managers:
  - name: "Home NAS"
    hostname: "nas.example.com"
    port: 5000
  - name: "Homenet ESP32"
    hostname: "192.168.2.100"
    port: 36487

##########################
# API                    #
##########################
api:
  bind_address: "0.0.0.0"
  port: 8000
