[project]
name = "core"
version = "0.0.1"
description = ""
# authors = []
requires-python = ">=3.12"

[tool.poetry.dependencies]
pyyaml = "^6.0.2"

[tool.poetry.group.dev.dependencies]
pre-commit = "^4.2.0"
